/* Universal Styles */

html {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.main-content {
  position: relative;
  top: 4rem; /* To offset for fixed header. */
}

h2 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
}




/* Header */

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 4rem;
  background-color: #1fe170;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header p {
  color:black;
  font-weight: bold;
}

header span {
  color:white;
}

.brand {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  height: 2rem;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.navigation ul {
  display: flex;
}

.navigation li {
  margin-right: 1rem;
  color: white;
  text-align: center;
}

/* Main section */
.main {
  z-index: 50;
  position: relative;
  margin: 0 auto;
  top: 4rem;
  width: 100%;
}

.large-image {
  padding: 2rem 1.5rem;
  width: 60%;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

.large-image img {
  height: auto;
  max-width: 100%;
  overflow: hidden;
}

/* Intro section */
.intro {
  background-color: LightGray;
  display: flex;
  height: auto;
  width: 100%;
  position: relative;
  align-items: center;
  overflow: hidden;
  padding: 2rem 1.5rem;
}

.start {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.start-button {
  background-color: black;
}

.start-button p {
  text-align: center;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}



/* Info section */
.info {
  background-color: WhiteSmoke;
  height: auto;
  width: 100%;
  position: relative;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
}

.info-left {

}

.practice {
  width: 60%;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.practice h2 {
  padding-bottom: 1.5rem;
}

.practice p {
  padding-bottom: 1.5rem;
  font-style: italic;
}

.practice span {
  font-style: bold;
}

.info-right {
  width: 40%;
  overflow: hidden;
}

.orientation .campus .guest-lecture {
  display: flex;
  align-items: center;
}

.info-right-image {

}

.info-right img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.info-right-text {
  width: 65%;
}

.info-right h3 {
  padding-bottom: 0.5rem
}

.info-right p {
  padding-bottom: 0.5rem;
}

/* Courses */
.courses {
  background-color: LightGray;
  height: 40rem;
  width: 100%;
}





/* Thesis */
.thesis {
  background-color: WhiteSmoke;
  height: 28rem;
  width: 100%;
}





/* Footer */
footer {
  display: flex;
  background-color: WhiteSmoke;
  width: 100%;
  height: 3rem;
  padding-top: 1rem;
  padding-left: 1.5rem;
  position: relative;
  z-index: 50;
}
